{% extends 'base.html' %}

{% block contents%}
    <hr>
    {{ post.title }}<br>
    {{ post.body }}<br>
    <hr>

    <div id="commentList">
        {% for comment in post.comments.all %}
            {{ comment.body }} <button id="{{comment.id}}reComment" onclick="
            addReComment('{{comment.id}}');"
            >대댓글달기
        </button><br>
            {% for recomment in comment.recomments.all %}
                -{{ recomment.body }}<br>
            {% endfor %}
        <div id="{{ comment.id }}recomment"></div>
        {% endfor %}
    </div>
    <div id="comments">
        <form action="{% url 'addcomment' post.id %}" id="commentForm" method="POST">
            {% csrf_token %}
            {{ form }}
            <!-- <button class="addComment">댓글쓰기</button> ajax용 버튼-->
            <input type="submit" value="댓글쓰기">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">

    /* 대댓글을 위한 폼을 만드는 함수*/
    function addReComment(comment_id) {

        var a = document.createElement("form");
        a.setAttribute('method', 'POST');
        a.setAttribute('action', '/blog/detail/addReComment/'+comment_id);
        a.setAttribute('id', 'reComment'+comment_id);

        var b = document.createElement("input");
        b.type = "text";
        b.name = "body";

        var c = document.createElement("input");
        c.type = "submit";
        c.value = "작성";

        var d = document.createElement("input");
        d.setAttribute('name', 'csrfmiddlewaretoken');
        d.setAttribute('value', '{{ csrf_token }}');
        d.type = "hidden";

        a.appendChild(b);
        a.appendChild(c);
        a.appendChild(d);

        document.getElementById(comment_id+'recomment').appendChild(a);
    }

    /* Ajax를 이용한 댓글 달기 */
   /* $(document).ready(function() {
        $('.addComment').click(function() {
            // $('#commentForm').submit(function(event) {
            //     event.preventDefault();
                var postid = "{{ post.id }}";
                $.ajax ({
                    type: "POST",
                    url: "/blog/detail/addComment/"+postid,
                    cache: false,
                    data:  $('#commentBody').serialize(),
                    dataType: 'json',
                    success  : function(data){
                        $('#commentList').append(data+"<br>");
                        // $('#commentList').append("{% for comment in comments %}",
            // "{{ comment.body }}<br>",
        // "{% endfor %}");
                        $('#commentBody').val("");
                        console.log("success ajax");
                        },
                    error: function (xhr, status) {
                        alert("Sorry, there was a problem!");
                        }
                });
                return false;
            // });
        });
        console.log("end ajax");
    });*/
        // function getComment() {
        //     var postid = "{{ post.id }}"
        // };
        // $(document).ready(function() {
        //     $('.addComment').click(function(event) {
        //         $('#commentForm').submit(function() {
        //             var postid = "{{ post.id }}"
        //             $.ajax({
        //                 type: "POST",
        //                 data: {
        //                    commentBody = $('#commentBody').value()
        //                 },
        //                 url: "/blog/detail/addComment/"+ postid,
        //                 // cache: false,
        //                 dataType: "json",
        //                 success: function (data) {
        //                     alert(data);
        //                     $('commentList').append(data);
        //                 },
        //                 error: function(XMLHttpRequest, textStatus, errorThrow) {
        //                     $('#commentForm form').replaceWith('Your comment was unable to be posted at this time.  We apologise for the inconvenience.');
        //                 }
        //             });
        //             return false;
        //         });
        //     });
        // });
    </script>
{% endblock %}